<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ログイン
    </h1>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  