/* ヘッダー */
.header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  background-color: khaki;
}

.logo {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 57px;
  align-items: center;
  margin-left: 20px;
}

.grid-6{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.login,
.sign-up,
.logout{
  margin-left: 15px;
  padding: 6px;
  border-radius: 5px;
  border: solid 1px;
  background-color: lightyellow;
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* トップページ */
.schedule_main{
  width: 100vw;
  height: calc(100vh - 60px);
}

.service-title{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.service-explain{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.service-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  margin: 60px;
}

.service-item{
  width: 220px;
  padding: 30px;
  border-radius: 60px;
  border: 5px solid;
  background-color: lavenderblush;
}

.service-image{
  height: 100px;
  width: 50px;
}

.service-item__info{
  width: 100%;
  height: 30px;
  margin-top: 70px;
  font-size: 16px;
  font-weight: bold;
}

/* ユーザー新規登録画面 */
.registration-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  margin: 30px auto 20px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.form-wrap{
  width: 50%;
  background-color: #f5f5f5;
  padding-bottom: 30px;
}

.form-header{
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 22px;
}

.form-header-text{
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 15px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap{
  width: 100%;
  height: 20%;
}

.form-text{
  font-size: 14px;
  font-weight: bold;
}

.indispensable{
  font-size: 14px;
  color: red;
}

.input-default{
  width: 100%;
  margin-top: 5px;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text{
  font-size: 15px;
  margin: 3px 0 0 0;
}

.input-birth-wrap select{
  width: 75px;
  margin-top: 5px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
}

.input-birth-wrap p{
  line-height: 20px;
  margin: 3px 0 0 0;
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
}

.register-btn{
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 0 100px;
}

.register-red-btn{
  width: 50%;
  background: #ea352d;
  border-radius: 5px;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

/* ログイン画面 */
.check-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.login-btn{
  width: 50%;
  margin: 0 auto;
  padding: 30px 0 0 120px;
}

.login-red-btn{
  width: 50%;
  background: #ea352d;
  border-radius: 5px;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

/* スケジュール投稿画面 */
.form-wrap__schedule{
  width: 60%;
  align-items: center;
  background-color: #FFEEFF;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 30px;
}

.form-header__schedule{
  width: 100%;
  height: 100px;
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
}

.form-header-text__schedule{
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-tag{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.input-textarea{
  width: 100%;
  margin-top: 5px;
  height: 150px;
  padding: 10px 16px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.submit-btn{
  width: 50%;
  margin: 0 auto;
  padding: 30px 0 0 70px;
}

.submit-red-btn{
  width: 50%;
  background: #ea352d;
  border-radius: 10px;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
}

/* スケジュール詳細画面 */
.show-wrap{
  width: 60%;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 30px;
}

.schedule-show__header{
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
}

.show-main{
  width: 50%;
  height: 90%;
  margin: 0 auto;
}

.show-info{
  text-align: center;
  margin-top: 20px;
}

.show-text{
  font-size: 23px;
  font-weight: bold;
  border-bottom: solid 1px ;
}

.default-text{
  font-size: 20px;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
}

.end-btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.btn-back{
  color: #007bff;
  text-decoration: none;
}

.schedule-destroy{
  text-decoration: none;
}

/* 日記ページ */
.diaries-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  margin: 30px auto 20px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.diary-form-contents{
  width: 60%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}

.diary-form__heading{
  margin-top: 10px;
  border-bottom: 1px solid;
}

.input-diary{
  width: 50%;
  height: 150px;
  margin-top: 20px;
}

.diary-contents{
  margin-top: 20px;
}

.diary-content{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 5px;
}

.diary-content__text{
  font-size: 15px;
  padding: 10px;
}

.dairy-content__time{
  font-size: 13px;
  font-weight: bold;
  text-align: start;
}